body{
    background: #eceff1!important;
}

.page-item.active .page-link{
    background-color: #121212!important;
    border-color: #121212!important;
}

.about-page {
    background-color: #f0f0f0; /* Set the background color */
    padding: 50px 0; /* Add some padding for space */
  }
  
  .about-page h1 {
    color: #333; /* Change the heading color */
  }
  
  .about-page p {
    color: #666; /* Change the paragraph text color */
    font-size: 18px; /* Adjust the font size */
    line-height: 1.6; /* Adjust the line height for better readability */
  }